@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #000;
  color: aliceblue;
}

/* Fonts */

@font-face {
  font-family: "Poppins-Light";
  src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4b515b;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c636e;
}

body {
  background-image: url("/assets/background/blur3.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.grad {
  background: linear-gradient(to right, #f1a340, #c76988, rgb(167, 139, 250));
  background-clip: text;
  color: transparent;
}
