@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  background: #000;
  color: aliceblue;
}

/* Fonts */

@font-face {
  font-family: "Poppins-Light";
  src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4b515b;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c636e;
}

body {
  background-image: url("/assets/background/blur3.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.grad {
  background: linear-gradient(to right, #f1a340, #c76988, rgb(167, 139, 250));
  background-clip: text;
  color: transparent;
}

.grad1 {
  background: linear-gradient(to right, #0cd870, #08dc56, #0bde4a);
  background-clip: text;
  color: transparent;
  border-bottom: 2px solid transparent; /* Set an initial transparent underline */
  transition: border-color 0.2s; /* Add a smooth transition effect for the color change */
}

.grad1:hover {
  border-color: #0cd870;
}

.float1 {
  transform: translateX(0px);
  animation: float1 4s ease-out infinite;
}

@keyframes float1 {
  0% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}
